.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  margin-top: 10px;
}
.display {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  width: 100%;
}
